@use "variables" as v;
@use "mixins" as m;

#cityName {
  @include m.inputAndButton;
}
#submitCity {
  @include m.inputAndButton;
}
.weather-card {
  @include m.cardStyle;
}
#quickSearchMain {
  @include m.cardStyle;
  position: absolute;
  top: 65px;
  right: 60px;
  width: 150px;
}
.history-item {
  @include m.cardStyle;
  cursor: pointer;
}
.quick-search-delete,
#submitQuickSearch {
  @include m.inputAndButton;
}
.quick-search-city {
  font-weight: bold;
  cursor: pointer;
}
button,
input {
  font-family: inherit;
}
