$accent-color: #818cf8;
$text-color: #1f2937;
$border-light: #eff6ff;
$bg-main: #a5b4fc;

$radius-pill: 20px;
$radius-card: 10px;

$padding-base: 10px;

$font-main: "Courier New", Courier, monospace;
